@{
    ViewBag.Title = "NeuspesnaTransakcija";
}

<p>&nbsp;</p>
<p>&nbsp;</p>
<h2> Neuspela rezervacija</h2>

<p class="text-info">
    Doslo je do greske na serveru. Molimo vas pokusajte kasnije.
</p>

<div>
    @Html.ActionLink("Vrati se na pocetnu stanicu", "Profil")
</div>