
@{
    ViewBag.Title = "CekajKonfirmaciju";
}

<h2> Ostao je još samo jedan korak do registracije</h2>

<p class="text-info">
    Mail na vašu adresu je poslat. Potrebno je da odete na vašu adresu i potvrdite registraciju.
</p>

