@{
    ViewBag.Title = "E-mail za potvrdu je poslat na vasu adresu.";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        Proverite vas inbox, E-mail za potvrdu je stigao na adresu: @ViewBag.Email
    </div>
</div>

